.required{
    content: "*";
    color: red
}
.location-selector{
     height:40px;
     width: 50%;
     margin-left: 250px;
     border: none;
     
}

.location-selector .bit.top{
    height:35px;
}

 #table .btn-primary{
    background-color: gray;
    color: white;
}
.color{
    background-color: gray;
}